<h2>Update City</h2>
<form (ngSubmit)="updateCity()">
  <label for="name">City Name:</label>
  <input type="text" id="name" name="name" [(ngModel)]="city.name" required>
  
  <label for="lat">Latitude:</label>
  <input type="number" id="lat" name="lat" [(ngModel)]="city.lat" required>
  
  <label for="lon">Longitude:</label>
  <input type="number" id="lon" name="lon" [(ngModel)]="city.lon" required>
  
  <label for="country">Country:</label>
  <select id="country" name="country" [(ngModel)]="city.countryId" required>
    <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
  </select>
  
  <button type="submit" class="btn btn-sm btn-primary">Update City</button>
</form>
